html, body {
  font-family: 'Poppins', "Segoe UI", "Helvetica Neue", sans-serif;
  margin: 20px;
  padding: 0;
}

canvas {
  margin: auto;
  display: block;
}

/* header styling */

.site-header {
  font-size: 24px;
  font-weight: bold;
  color: black;
  display: inline-table;
  text-decoration: none;
}

.site-header a:hover, a:visited, a:link, a:active {
  color: black;
  text-decoration: none !important;
}

#icon-bar {
  display: inline-table;
  position: relative;
  padding-left: 5px;
  font-size: 20px;
}

i {
  margin: 2px;
}

h2 {
  font-size: 18px;
  display: inline;
}

.nav-links {
  font-size: 16px;
  font-weight: bold;
  width: max-content;
}

.nav-links a {
  color: black;
  text-decoration: none;
}

.nav {
  display: inline-table;
  margin-right: 10px;
  margin-top: 10px;
}

/* hover effects */

.hover-blue {
  background: linear-gradient(to left, white 50%, #6ba4ff 50%) right;
  background-size: 201%;
  transition: .5s ease-out;
}

.hover-blue:hover {
  background-position: left;
}

.hover-purple {
  background: linear-gradient(to left, white 50%, #c066ed 50%) right;
  background-size: 201%;
  transition: .5s ease-out;
}

.hover-purple:hover {
  background-position: left;
}

.hover-green {
  background: linear-gradient(to left, white 50%, #64ed6a 50%) right;
  background-size: 201%;
  transition: .5s ease-out;
}

.hover-green:hover {
  background-position: left;
}

.hover-orange {
  background: linear-gradient(to left, white 50%, #fcc203 50%) right;
  background-size: 201%;
  transition: .5s ease-out;
}

.hover-orange:hover {
  background-position: left;
}

.hover-red {
  background: linear-gradient(to left, white 50%, #eb4242 50%) right;
  background-size: 201%;
  transition: .5s ease-out;
}

.hover-red:hover {
  background-position: left;
}

.about:hover > .hover-orange {
  background-position: left;
}

.portfolio:hover > .hover-red {
  background-position: left;
}

.about:hover > .hover-purple {
  background-position: left;
}

/* homepage sketch styling */

#sketch-prompt {
  font-weight: 600;
  margin-bottom: 5px;
}

#sketch-container {
  min-height: -webkit-fill-available; /*mobile viewport bug fix*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#sketch {
  position: relative;
}

.clearButton {
  border: solid 1px;
  color: black;
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  width: 150px;
  height: 50px;
  font-size: 16px;
}

.clearButton:hover {
  cursor: pointer;
}

canvas {
  margin-bottom: 10px;
}

/* about.html styling */

.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 400px;

  border: 1px solid #000;
  box-shadow: 10px 10px 2px black;

  background: linear-gradient(to left, white 50%, #59a9ff 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}

.portrait:hover {
  background-position: left;
}

.about {
  display: block;
  margin: auto;
  padding: 25px;
  width: 350px;
  text-align: center;
}

/* portfolio.html styling */

#gallery-title {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

#sketch-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1100px;

  margin-left: auto;
  margin-right: auto;
}

#sketch-gallery img {
  padding: 25px;
  min-width: 75px;
  flex: 0 0 400px;
}

/* blog.html styling */

#blog {
  min-height: -webkit-fill-available; /*mobile viewport bug fix*/
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#posts {
  position: relative;
  max-width: 820px;
  margin-top: 20px;
}

#post {
  margin-bottom: 100px;
  padding-left: 25px;
  padding-right: 25px;
  border-left: 1.5px solid #8c8c8c;
  border-right: 1.5px solid #8c8c8c;
}

#post-date-time {
  font-family: 'Space Mono', monospace;
  margin-bottom: 0px;
  margin-top: 0px;
}

#post-title {
  margin-top: 6px;
  margin-bottom: 0px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  display: inline-table;
  text-decoration: none;
  line-height: 110%;
}

#post-author {
  margin-top: 6px;
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}

#post-body {
  font-family: 'PT Serif', serif;
  font-size: 18px;
}

hr {
  color: #e0e0e0;
}