.site-header {
	font-size: 24px;
	font-weight: bold;
	color: black;
	display: inline-table;
	text-decoration: none;
}
  
.site-header a:hover, a:visited, a:link, a:active {
	color: black;
	text-decoration: none !important;
}
  
#icon-bar {
	display: inline-table;
	position: relative;
	padding-left: 5px;
	font-size: 20px;
}
  
i {
	margin: 2px;
}
  
h2 {
	font-size: 18px;
	display: inline;
}
  
.nav-links {
	font-size: 16px;
	font-weight: bold;
	width: max-content;
}
  
.nav-links a {
	color: black;
	text-decoration: none;
}
  
.nav {
	display: inline-table;
	margin-right: 10px;
	margin-top: 10px;
}
  
  /* hover effects */
  
.hover-blue {
	background: linear-gradient(to left, white 50%, #6ba4ff 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}
  
.hover-blue:hover {
	background-position: left;
}
  
.hover-purple {
	background: linear-gradient(to left, white 50%, #c066ed 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}
  
.hover-purple:hover {
	background-position: left;
}

.hover-green {
	background: linear-gradient(to left, white 50%, #64ed6a 50%) right;
	background-size: 300%;
	transition: .5s ease-out;
}
  
.hover-green:hover {
	background-position: left;
}
  
.hover-orange {
	background: linear-gradient(to left, white 50%, #fcc203 50%) right;
	background-size: 200%;
	transition: .5s ease-out;
}
  
.hover-orange:hover {
	background-position: left;
}
  
.hover-red {
	background: linear-gradient(to left, white 50%, #eb4242 50%) right;
	background-size: 201%;
	transition: .5s ease-out;
}
  
.hover-red:hover {
	background-position: left;
}
  
.about:hover > .hover-orange {
	background-position: left;
}
  
.portfolio:hover > .hover-red {
	background-position: left;
}
  
.about:hover > .hover-purple {
	background-position: left;
}

/* body styling */

html, body {
	font-family: 'Poppins', "Segoe UI", "Helvetica Neue", sans-serif;
	margin: 20px;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
		
main {
	/* 
    margin: 150px 20px 20px 250px;
    width: 750px;
    text-align: center;
    */

    width: 60%;
    margin: 0 auto;
    padding: 1em;
    background-color: #fff;
    overflow: hidden;
}

.header-font {
	font-family: 'Poppins';
}

#content {
    width: 850px;
    margin: 0 auto;
    background-color: #66ffff;
    padding: 20px;
}
		
.sidebar {
	position: fixed;
	top: 180px;
	left: 20px;
	width: 160px;
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	padding: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
		
h1 {
	font-size: 36px;
	margin-bottom: 20px;
}
		
h2 {
	font-size: 24px;
	margin-bottom: 20px;
    text-align: center;
}
		
iframe {
	width: 100%;
	height: 400px;
	margin-bottom: 20px;
}
		
audio {
	margin-bottom: 20px;
}
		
ul {
	list-style: none;
	padding: 0;
	margin-bottom: 20px;
}
		
li a {
	display: block;
	padding: 10px;
	background-color: #ddd;
	border: 1px solid #ccc;
	text-decoration: none;
	color: #333;
	margin-bottom: 5px;
}
		
li a:hover {
	background-color: #ccc;
}

#playlist audio {
    display: block;
    margin-bottom: 1em;
}

#video {
    width: 500px;
    margin: 0 auto;
}

#video p {
    color: #666;
    margin-top: 0em;
    text-align: center;
}

p {
	font-family: 'PT Serif', serif;
}